<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta name="format-detection" content="email=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-title" content="新美大">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>简历展示页面</title>
    <link href="./css/datadisplay.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <h1>total:<%= data.length %></h1>
    <table border="0" cellspacing="0" cellpadding="0">
        <% for(var i=0; i<data.length; i++) {%>
            <tr>
                <td><%= data[i].name %></td>
                <td><%= data[i].email %></td>
                <td><%= data[i].phone %></td>
                <td><%= data[i].interestGroupId %></td>
                <td><%= data[i].jobId %></td>
                <td><%= data[i].areaCode %></td>
            </tr>
        <% } %>
    </table>
</body>
</html>
